{% extends "base.html" %}
{% block page_content %}
<section class="content">
<div class="row m-t">
    <div class="col-lg-4 col-md-12">
    <div class="box float-e-margins">
        <div class="box-header">
            config.json
        </div>
        <div class="box-body">
            <textarea class="form-control" rows="20">
                {{ payload.config }}
            </textarea>
        </div>
    </div>
    </div>
    <div class="col-lg-8 col-md-12">
    <div class="box float-e-margins">
        <div class="box-header">
            List of enumerated Data Elements and possible values
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered table-hover dataTables-full enums_table">
                <thead>
                    <tr>
                        <th>Data Element</th>
                        <th>Name</th>
                        <th>Integer value</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for k in payload.enums %}
                <tr><td>{{ k.0 }}</td><td>{{ k.1 }}</td><td>{{ k.2 }}</td><td>{{ payload.coder[k.2] }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<div class="row m-t">
    <div class="col-lg-12 col-md-12">
    <div class="box float-e-margins">
        <div class="box-header">
            List of ICD-9, DRG Codes and Descriptions
        </div>
        <div class="box-body">
            <div class="text-center"><a class="btn  btn-success" type="button" id="loader"><i class="fa-load"></i> Please click here to load all configured codes (Takes 2 ~ 3 minutes)</a></div>
            <table class="table table-striped table-bordered table-hover dataTables-delayed codes_table" style="display:none">
                <thead>
                    <tr>
                        <th>Code type</th>
                        <th>Code</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js %}
<script>
$(document).ready(function() {
    InitializeTables();
    $('#loader').on('click',function(){
        $('.dataTables-delayed').show().dataTable( {
        "ajax":'codelist',
        "sAjaxDataProp":"",
        responsive: true,
        });
        $('#loader').hide()
    });
});
</script>
{% endblock %}
