{% extends "base.html" %}
{% import 'macro_tables.html' as tables %}
{% block page_css %}
<link href="/static/ccss/plugins/toastr/toastr.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
<section class="content-header">
<div class="row border-bottom">
    <div class="col-lg-12 ">
        <div class="box">
        <div class="box-body">
            <h4>Index visits selected by primary diagnosis {{ payload.Coder[payload.stats.index.key] }} ({{ payload.stats.index.key }}) </h4>
            <h4>in dataset : {{ payload.stats.index.dataset }}</h4>
        </div>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
        <div class="col-md-4 col-lg-2">
            <div class="box m-b">
                <div class="box-header with-border">
                    <h5>Index Visits</h5>
                </div>
                <div class="box-body">
                    <h1 class="no-margins text-right">{{ payload.humanize.intcomma(payload.stats.index.count) }}</h1>
                </div>
            </div>
            <div class="box m-b">
                <div class="box-header with-border">
                    <h5>Subsequent Visits</h5>
                </div>
                <div class="box-body">
                    <h1 class="no-margins text-right">{{ payload.humanize.intcomma(payload.stats.sub.count) }}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            {{tables.simple_table("Index Sex Distribution","Sex",payload.stats.index.sexh,payload.Coder)}}
            {{tables.simple_table("Sub Sex Distribution","Sex",payload.stats.sub.sexh,payload.Coder)}}
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="box m-b">
                <div class="box-header with-border">
                    <h5>Mortality in hospital</h5>
                </div>
                <div class="box-body">
                {% for k in payload.stats.index.deathh %}
                    {% if k.k == 31 %}
                        <h1 class="no-margins text-right">{{(100.0*k.v/payload.stats.index.count)|round(2)}} %</h1>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h5>Length of Stay Distribution</h5>
                </div>
                <div class="box-body">
                    <div class="MG_chart" style="height:75px" id="los_chart" data-y-label="Visits" data-x-label="LOS in days" data-left=80 data-bottom=50 data-chart-type="line" data-x="los" data-y="visits" data-height=200 data-chart-data="los_data"></div>
                    {{ tables.int_table_flat("LOS","days",payload.stats.index.losh) }}
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">{{tables.policy_table(payload.stats.index.policy)}}</div>
</div>

<div class="row m-t">
    <div class="col-lg-6 col-md-12">
    <div class="row">
        <div class="col-lg-6 col-md-6">{{tables.dict_table("Source Distribution","Source",payload.stats.index.sourceh,payload.Coder)}}</div>
        <div class="col-lg-6 col-md-6">{{tables.dict_table("Source Distribution","Source",payload.stats.sub.sourceh,payload.Coder)}}</div>
        <div class="col-lg-6 col-md-6">{{tables.dict_table("Disposition Distribution","Disposition",payload.stats.index.disph,payload.Coder)}}</div>
        <div class="col-lg-6 col-md-6">{{tables.dict_table("Disposition Distribution","Disposition",payload.stats.sub.disph,payload.Coder)}}</div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">{{tables.dict_table("Payer Distribution","Payer",payload.stats.index.payerh,payload.Coder)}}</div>
        <div class="col-lg-6 col-md-6">{{tables.dict_table("Race Distribution","Race",payload.stats.index.raceh,payload.Coder)}}</div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h5>Age Distribution</h5>
            </div>
            <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    {{ tables.age_table(payload.stats.index.agedh) }}
                </div>
                <div class="col-md-9">
                    <div class="MG_chart" id="age_chart" data-y-label="Visits" data-x-label="Age in years" data-left=80 data-bottom=50 data-chart-type="histogram" data-x="age" data-y="visits" data-height=200 data-chart-data="age_data" style="height:150px"></div>
                    {{ tables.int_table("age","years",payload.stats.index.ageh) }}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-t m-b-lg"><div class="col-lg-12">{{ tables.procedures(payload.stats.index.prh,payload.Coder)}}</div></div>
<div class="row m-t m-b-lg"><div class="col-lg-12">{{ tables.dx(payload.stats.index.dxh,payload.Coder)}}</div></div>
<div class="row m-t m-b-lg"><div class="col-lg-12">{{ tables.dx(payload.stats.sub.dxh,payload.Coder)}}</div></div>
<div class="row m-t m-b-lg"><div class="col-lg-12">{{ tables.ex(payload.stats.index.exh,payload.Coder)}}</div></div>
</section>
{% endblock %}
{% block page_js %}
<script>
var chart_data = {};
chart_data["los_data"] = JSON.parse({{ payload.los_plot_data|safe }});
chart_data["age_data"] = JSON.parse({{ payload.age_plot_data|safe }});
charts = {};
$(document).ready(function() {
    InitializeTables();
    $('.MG_chart').each(function(index, element){charts[index] = new MGChart(element,chart_data);});
});
</script>
{% endblock %}